/* You can add global styles to this file, and also import other style files */
body {
  padding: 8px 16px;
  font-family: 'Roboto', sans-serif;
}

.fixed-section {
  position: fixed;
  top: 50%;
  right: 10%;
}
