.ng2-menu-item {
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding: 1rem 1.25rem;
    background: #fff;
    color: #525252;
    cursor: pointer;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    transition: background 0.3s;
    letter-spacing: 0.03em;
}

.ng2-menu-item--selected {
    background: #f9f9f9;
    outline: 0;
}

.ng2-menu-item:focus {
    outline: 0;
}
