.ng2-dropdown-menu-container {
    position: absolute;
    z-index: 2;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    width: 0;
    transition: width 0.5s;
}

.ng2-dropdown-menu-container--open {
    visibility: visible;
}

.ng2-dropdown-menu-container--2 {
    width: 180px;
}

// default
.ng2-dropdown-menu-container--4 {
    width: 250px;
}

// default
.ng2-dropdown-menu-container--6 {
    width: 320px;
}

.ng2-dropdown-menu-container:focus {
    outline: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.ng2-dropdown-menu {
    position: relative;
    padding: 0.5em 0;
    background: #fff;
    border-radius: 2px;
    max-height: 400px;
    display: block;
}

.ng2-dropdown-menu * {
    opacity: 0;
    transition: opacity 0.5s;
}

.ng2-dropdown-menu-container.ng2-dropdown-menu-container--open * {
    opacity: 1;
}

.ng2-dropdown-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

:host /deep/ .ng2-menu-divider {
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
    display: block;
    background: #f9f9f9;
}
