.ng2-menu-item {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;

    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    font-size: 0.9em;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0.03em;

    height: 48px;
    line-height: 48px;
    padding: 0.3em 1.25rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    transition: background 0.25s;
}

.ng2-menu-item--selected {
    background: rgba(158, 158, 158, 0.2);
    outline: 0;
}

.ng2-menu-item:focus {
    outline: 0;
}

.ng2-menu-item:active {
    background: rgba(158, 158, 158, 0.4);
}

:host(ng2-menu-item) /deep/ [ng2-menu-item-icon] {
    vertical-align: middle;
    font-size: 28px;
    width: 1.5em;
    height: 30px;
    color: rgba(0, 0, 0, 0.44);
}
